/***** General style *****/

* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}

body {
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    color: #785616;
}

.bordersMain {
  border: 2px solid black;
  border-radius: 5px;
}

li {
  list-style-type: none;
  display: inline;
}

h6 {
  display: inline;
  font-size: .75em;
}

/***** Dynamic style *****/

.visible {
  display: block;
}

.hidden {
  display: none;
}

/***** NAV *****/

.navMain {
  background-color: #FFB4B0;
  padding: 10px 10px 10px 20px;
  margin-bottom: 10px;
}

.navMain ul li {
  padding-right: 10px;
  font-size: 1.25em;
}

/***** Left Choices *****/

.leftChoices {
  background-color: #4DD7FA;
  height: auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

/***** Right Song List *****/

.rightMainContent {
  background-color: #FEFAC0;
  height: auto;
}

/***** Right Song List *****/

.footer {
  text-align: center;
}

/***** song adder div *****/

.addSongView {
  text-align: center;
  background-color: #FEFAC0;
  width: 100%;
}

